*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #f6ebff;
    border: 3px solid #010101;
    border-radius: 30px;
    width: 500px;
    padding: 30px;
}

h1 {
    font-size: 68px;
    color: #f6ebff;
    text-shadow: 
        3px 3px 0px #000,   /* direita-baixo  */
        -3px -3px 0px #000, /* esquerda-cima  */
        -3px 3px 0px #000,  /* esquerda-baixo */
        3px -3px 0px #000;  /* direita-cima   */
} 

body{
    font-family: sans-serif;
    text-align: center;
    margin-top: 200px;
    background-color: rgb(143, 122, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

#display{
    font-size: 160px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Libre";
}

button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 30px;
    background-color: #b3b3b3;
    font-family: "Chiron";
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color:  rgb(159, 137, 206);
}

footer {
    color: #f6ebff;
    font-size: 14px;
}
